{
	"plugins": ["prettier"],
	"parser": "babel-eslint",
	"extends": ["prettier"],

	"rules": {
		"prettier/prettier": [
				"error",
				{
						"printWidth": 120,
						"tabWidth": 4,
						"singleQuote": true,
						"trailingComma": "es5"
				}
		]
	}
}
