.Home {
  layout: column;
	content-x: center;
	contain: 1199px 24px;
}

.green {
	color: color-accent1;
}

.header {
	height: 180px;
	layout: column;
	content-x: center;
	content-y: center;
	color: color-white0;
}

.header p {
	max-width: 780px;
	margin-top: 12px;
	font-size: 1.8rem;
	text-shadow: text-shadow0;
	color: color-white2;
}

a {
	font-size: 12rem;
	text-decoration: none;
	border: 2px solid #55FF55;
	border-radius: 15px;
	background: #55FF55;
	color: white;
	padding: 5px;
	margin-top: 200px;
}