@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
@import './fonts/ProximaNova.styl';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'ProximaNova', serif;
}

body {
  background: color-white0;
	overflow-x: hidden;
	color: color-dark0;
	background-color: #fff;
	// font-family: 'Helvetica Neue', 'Helvetica' , 'Arial' ,sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2;
}

:global header {
  background: gradient0;
  width: 130vw;
  height: 300px;
  position: absolute;
  top: 0;
  left: -15vw;
  top: -25px;
  transform: rotate(-2deg);
	z-index: -1;
}

:global .test0 {
	box-shadow: shadow0;
	border-radius: 6px;
	padding: 2rem 5rem;
}