.Navbar {
	layout: row;
	content-x: space-between;
	content-y: center;
	padding: 0 24px;
	width: 100vw;
	height: 60px;
	color: color-dark0;
	contain: 1199px 24px;
	// text-shadow: text-shadow1;
}

:global .Navbar-innerPage-true {
	background: gradient0;
}

.logoBox {

}

.logo {

}

.linksBox {
	layout: row;
	p {
		margin: 0 6px;
	}
}
